{{!-- LOGIN VIEW --}}
<div class="center">
    <h2 class="page-title">Login</h2>
    <form class="center form login-form">
        <div class="center form-group">
        <label for="username-signup">Username:</label>
        <input class="center form-input" type="text" id="username-login" />
      <div class="center form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="center form-group">
        <button class="center" type="submit">login</button>
      </div>
    </form>
  </div>
   <p>New here? <a type="submit" href="/signup"> Sign up for an account</a></p>
  </div>
</div>
<script src="/js/login.js"></script>



