{{!-- NEW POST VIEW --}}


<main class="create-post">
<div class="create-post">
    <h2 class="create-post">Create your post here:</h2>
  <form class="card-body create-post">
    <label class="col-form-label" for="post-title">Title</label>
    <input id="new-post-title" type="text" name="post-title" class="form-input" />
    <label class="col-form-label" for="post-body">Content</label>
    <textarea id="new-post-body" name="post-body" class="form-input"></textarea>
    <a><button href="/" id="new-post-form" type="submit" class="create-post btn">Create</button></a>
  </form>
</div>
</main>
<script src="/js/new-post.js"></script>