{{!-- NEW POST VIEW --}}
<nav  class="align-items-center">
<div class="post card">
  <div class="card-header">
    <h2>Create a new blog post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="col-form-label" for="post-title">Title</label>
    <input id="new-post-title" type="text" name="post-title" class="form-input" />

    <label class="col-form-label" for="post-body">Content</label>
    <textarea id="new-post-body" name="post-body" class="form-input"></textarea>

</div>
</nav>
{{!-- Form submission for new blog post --}}
    <a><button href="/" id="new-post-form" type="submit" class="btn">Create</button></a>
  </form>
<script src="/js/new-post.js"></script>