  <div class="entry">
      {{#each allPosts}} 
    <h1><a href="/post/:id{{id}}">{{title}}</a></h1>
    <div>This was posted by: {{User.username}}
    </div>
    <div class="body">
      {{body}}
    </div>
    {{/each}}
  </div>
